@import "../styles/components/details-slider.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: unset;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.embla_wrap{
  position: relative;

  .embla {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-height: 450px;
  }

  .embla__viewport {
    overflow: hidden;
    width: 100%;
  }

  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }

  .embla__viewport.is-dragging {
    cursor: grabbing;
  }

  .embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
    height: 600px;
  }

  .embla__slide {
    position: relative;
    min-width: 100%;
    padding-left: 10px;
    flex: 0 0 80%; 
  }

  .embla__slide__inner {
    position: relative;
    overflow: hidden;
    height: 580px;
  }

  .embla__slide__img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    transform: translate(-50%, -50%);
  }

  .embla__button {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 14px;
    height: 14px;
    justify-content: center;
    align-items: center;
    fill: #1bcacd;
    padding: 0;
  }

  .embla__button:disabled {
    cursor: default;
    opacity: 0.3;
  }
  .each_caption{
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px 2px rgba(2 ,2, 2 , 0.22);
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
    right: 7%;
    padding: 50px 30px 30px;
    min-height: 250px;
    font-size: 40px;
    z-index: 1;
    color: #ffffff;
    position: absolute;
    bottom: -10px;
    .car_title{
      font-weight: 700;
      font-size: 52px;
      max-width: 45%;
      @media screen and (max-width: 1023px) {
        font-size: 39px;
        max-width: 100%;
      }
    }
    .car_price{
      background: #ffffff;
      color: #000000;
      display: inline-block;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      padding: 10px;
      position: absolute;
      top: -2px;
    }
    .car_finance_msg{
      font-size: 15px;
      font-weight: normal;
      font-style: italic;
    }
  }
  .embla__button__svg {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    opacity: 0.4;
  }

  .embla__button--prev {
    left: 27px;
  }

  .embla__button--next {
    right: 27px;
  }

  .embla__dots {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 10px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .embla__dot {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    outline: 0;
    border: 0;
    width: 30px;
    height: 30px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    display: flex;
    align-items: center;
  }

  .embla__dot:after {
    // background-color: #fafafa;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 3px;
    content: "";
  }

  .embla__dot.is-selected:after {
    background-color: #ffffff;
    opacity: 1;
  }
}
.buy_now{
  background: #0879c9;
  color: #ffffff;
  padding: 11px 27px;
  border-radius: 4px;
  margin-top: 25px;
}